---
import Button from "./Button";
---

<form id="logout-account">
  <Button><slot /></Button>
</form>

<script>
  import { isInputError } from "astro:actions";
  import { actions } from "astro:actions";

  const logoutAccount = document.querySelector(
    "#logout-account"
  ) as HTMLFormElement;
  logoutAccount.addEventListener("submit", async (e) => {
    e.preventDefault();
    const { error } = await actions.logoutAccount();
    if (error) {
      console.log(error);
      if (isInputError(error)) {
        console.log(error.fields);
      }
      return;
    }
    window.location.reload();
  });
</script>
