---
import LogoutButton from "./client/LogoutButton";

const { currentUser } = Astro.locals;
---

<nav>
  <div>
    <a href="/">home</a>
    <a href="/user/list">users</a>
    <a href="/video">video</a>
    <a href="/gallery">gallery</a>
    <a href="/credential">credential</a>
    <a href="/login">Login</a>
    <a href="/register">register</a>
  </div>
  <div>
    {currentUser?.email || `no-user`}
    {currentUser?.email && <LogoutButton client:load>Logout</LogoutButton>}
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #535353;
    color: white;
  }

  nav > div {
    display: inline-flex;
    column-gap: 16px;
    align-items: center;
  }

  a {
    color: white;
  }
</style>
